/* the style for the button */

/* the font type */
@font-face{
  font-family: myFont;
  src: url(font.ttf)
}

/* the graphics for the button */ 
button {
    font-size: 15px;
    border: none;
    border-radius: 7px;
    padding: 10px;
    color: black;
    background: #3096ba;
    font-family: myFont;
    font-weight: bold;

     }
  
  button:hover {
    background: #01b5e6;
  }